@model PortfolioSite.Models.BloggerPostsResponse
@{
    ViewBag.Title = "Blog";
}
<br />
@section head {
    <style>
        body {
            background: url("/Images/bed-bloom-blooming-1083936.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #blog {
            background-color: #e9e3ef;
        }

        #content:focus {
            outline: none;
            text-decoration: none;
        }

        #content:hover {
            /*border: 1px black solid;*/
            opacity: .75;
        }

        #content {
            font-family: 'Over the Rainbow', cursive;
            font-size: large;
            font-weight: bold;
            text-decoration: none;
            /*text-shadow: 1px 1px white;*/
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; /*<--- outlines the text;*/
        }

        #noPosts, #noPosts:focus, #noPosts:hover {
            text-decoration: none;
            font-weight: bold;
            color: black;
        }
    </style>
}


    <div id="blog" class="jumbotron text-center">
        <h1>Blog</h1>
        <hr />
        @if (Model == null)
        {
            <p>No posts to display at this time... check out my full blog for more</p>
        }
        else
        {
            foreach (var item in Model.items)
            {
                string src = @"src=";
                if (item.content.IndexOf(src) != -1)
                {
                    int startI = item.content.IndexOf(src);
                    int endI = item.content.IndexOf("\"", startI + 5);
                    var imgURL = item.content.Substring(startI + 5, endI - startI - 5);
                    <!-- Button trigger modal -->
                    <button style="
                            background: url(@imgURL) center;
                            width: 200px !important;
                            height: 200px;
                            border-radius: 50%;"
                            type="button" id="content" data-toggle="modal" data-target="#exampleModalLong-@(item.id)">
                        @item.title<br />
                        <div style="font-size: small">@item.published.ToString("MMMM dd, yyyy")</div>
                    </button>
                }
                else
                {
                    <!-- Button trigger modal -->
                    <button style="
                            width: 200px !important;
                            height: 200px;
                            border-radius: 50%;"
                            type="button" id="content" data-toggle="modal" data-target="#exampleModalLong-@(item.id)">
                        @item.title<br />
                        <div style="font-size: small">@item.published.ToString("MMMM dd, yyyy")</div>
                    </button>
                }





                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong-@(item.id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">@item.title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button><br />

                            </div>
                            <div class="modal-body">
                                @Html.Raw(item.content)
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <button style="
                background: url(/Images/stars-sm.jpg) center;
                width: 200px !important;
                height: 200px;
                border-radius: 50%;"
                type="button" id="content" onclick="window.open('https://codingandcats.blogspot.com/', '_blank')">
            View Full Blog...<br />
        </button>
        <hr />
    </div>