<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Krista Marie B Portfolio Site</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Custom.css" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Over+the+Rainbow" rel="stylesheet">




    @RenderSection("head", false)

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="~/Images/KBIcon1.png" height="70" />
        @Html.ActionLink("Krista Marie B", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Resume", "Resume", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Portfolio", "Portfolio", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
                </li>
                <li>
                    @Html.ActionLink("Blog", "Blog", "Home", null, new { @class = "nav-link" })
                </li>
            </ul>
            <div id="socialMedia" class="text-center">
                <a href="https://www.linkedin.com/in/kristamarieb/" target="_blank">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/KristaMarieB" target="_blank">
                    <i class="fab fa-github-square fa-2x"></i>
                </a>
            </div>
        </div>

    </nav>

    <div class="container body-content">

        @RenderBody()
        @*<p>&copy; @DateTime.Now.Year - Krista Marie</p>*@


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)    
    @Scripts.Render("~/Scripts/site.css")
    
    @Scripts.Render("~/Scripts/quotes.js")
</body>
</html>
